@import '../../../../shared/styles/variables.scss';

.wrapper {
    display: block;
    border: 1px solid var(--color-border);
    padding: $spacing-xs;
    border-radius: $border-radius-md;
    background-color: var(--color-items);
    line-height: $spacing-lg;
    opacity: 1;
    transition: opacity 0.3s ease;

    &.fadeOut {
        opacity: 0;
    }
}

.name {
    position: relative;
    left: -$spacing-xxs;
    border: 1px solid var(--color-border);
    border-radius: $border-radius-md;
    padding: $spacing-xxs $spacing-xs;
    background-color: var(--color-surface);
    margin-right: $spacing-xxs;
}